.header {
    position: fixed;
    background-color:navajowhite;
    color: #5d0b0b;
    padding: 10px 59px;
    width: 98.3%;
   
  }
  
  .header-title {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }